<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Home</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Analysis</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Business</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Finace</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Tech</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Entrepreneurs</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Column</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Property</string>
	</dict>
	<dict>
		<key>newsChannelType</key>
		<string>新闻</string>
		<key>newsChannelID</key>
		<string>1</string>
		<key>newsChannelTitle</key>
		<string>Special</string>
	</dict>
</array>
</plist>
